@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-dark: #8b2ee6;
  --color-secondary: #16171d;
  --color-dark: #08060d;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #f3f4f6;
  }
}
